In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
data = pd.read_csv("Datasets/U.S._Gun_Violence_Records_2014-2021/US-Gun-Violence.csv")
data.head()

,incident_id,incident_date,state,city_or_county,address,killed,injured
0,2128682,September 29 2021,Illinois,Chicago,800 block of N Milwaukee Ave,0,5.0
1,2127374,September 28 2021,Illinois,Chicago,65th St and Calumet Ave,1,3.0
2,2128023,September 28 2021,Minnesota,Minneapolis,2700 block of Bloomington Ave,1,3.0
3,2126747,September 27 2021,New York,New York (Manhattan),3964 10th Ave,0,5.0
4,2126450,September 27 2021,Illinois,Chicago,826 N Ridgeway Ave,1,3.0

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3230 entries, 0 to 3229
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   incident_id     3230 non-null   int64
 1   incident_date   3230 non-null   object
 2   state           3230 non-null   object
 3   city_or_county  3230 non-null   object
 4   address         3225 non-null   object
 5   killed          3230 non-null   int64
 6   injured         3228 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 176.8+ KB

In [41]:
data = data.dropna()
data.isnull().sum()

incident_id       0
incident_date     0
state             0
city_or_county    0
address           0
killed            0
injured           0
dtype: int64

In [43]:
data["injured"] = data["injured"].astype("int")
data.head()

,incident_id,incident_date,state,city_or_county,address,killed,injured
0,2128682,September 29 2021,Illinois,Chicago,800 block of N Milwaukee Ave,0,5
1,2127374,September 28 2021,Illinois,Chicago,65th St and Calumet Ave,1,3
2,2128023,September 28 2021,Minnesota,Minneapolis,2700 block of Bloomington Ave,1,3
3,2126747,September 27 2021,New York,New York (Manhattan),3964 10th Ave,0,5
4,2126450,September 27 2021,Illinois,Chicago,826 N Ridgeway Ave,1,3

In [ ]:
plt.figure(figsize=(20,7))
sns.countplot(x="Nationality", data=data)
plt.title('Nationality Bar Graph')
plt.xticks(rotation=90)
plt.show()