In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("Datasets/Mount_Everest_Climbing_Deaths/data.csv")
data.head()

,No.,Name,Date,Age,Expedition,Nationality,Cause of death,Location
0,1,Dorje,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
1,2,Lhakpa,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
2,3,Norbu,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
3,4,Pasang,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
4,5,Pema,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col

In [5]:
data.shape

(310, 8)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No.             310 non-null    int64
 1   Name            310 non-null    object
 2   Date            310 non-null    object
 3   Age             160 non-null    float64
 4   Expedition      271 non-null    object
 5   Nationality     309 non-null    object
 6   Cause of death  296 non-null    object
 7   Location        291 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 19.5+ KB

In [ ]:
num_categories = []