In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
data = pd.read_csv("Datasets/Mount_Everest_Climbing_Deaths/data.csv")
data.head()

,No.,Name,Date,Age,Expedition,Nationality,Cause of death,Location
0,1,Dorje,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
1,2,Lhakpa,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
2,3,Norbu,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
3,4,Pasang,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
4,5,Pema,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col

In [51]:
data.shape

(310, 8)

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No.             310 non-null    int64
 1   Name            310 non-null    object
 2   Date            310 non-null    object
 3   Age             160 non-null    float64
 4   Expedition      271 non-null    object
 5   Nationality     309 non-null    object
 6   Cause of death  296 non-null    object
 7   Location        291 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 19.5+ KB

In [53]:
num_categories = [feature for feature in data.columns if data[feature].dtype != "O"]
data[num_categories].isnull().sum()

No.      0
Age    150
dtype: int64

# Percentage of Misssing Values

In [54]:
df=pd.read_csv('Datasets/Mount_Everest_Climbing_Deaths/data.csv',usecols=['Age','Cause of death','Location'])
df.head()
df.isnull().mean()

Age               0.483871
Cause of death    0.045161
Location          0.061290
dtype: float64

In [62]:
data["Age"].describe()

count    160.000000
mean      40.356250
std       12.244545
min       19.000000
25%       31.750000
50%       38.000000
75%       48.000000
max       85.000000
Name: Age, dtype: float64

In [56]:
data["Age"].value_counts().sort_index(ascending=False).head()

85.0    1
82.0    1
69.0    1
66.0    1
65.0    1
Name: Age, dtype: int64

In [57]:
cat_categories = [feature for feature in data.columns if data[feature].dtype == "O"]
data[cat_categories].isnull().sum()

Name               0
Date               0
Expedition        39
Nationality        1
Cause of death    14
Location          19
dtype: int64

In [58]:
data[cat_categories] = data[cat_categories].fillna("unknown values")
data.head()

,No.,Name,Date,Age,Expedition,Nationality,Cause of death,Location
0,1,Dorje,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
1,2,Lhakpa,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
2,3,Norbu,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
3,4,Pasang,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
4,5,Pema,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col

In [59]:
data.groupby("Cause of death")[""]

KeyError: 'Column not found: '